.quizContent{
    position: relative;
    top: 150px;
    .question{
        background: #fff;
        max-width: 630px;
        margin: 0 auto;
        border: solid 3px;
        padding: 16px 0;
        margin-bottom: 80px;
        text-align: center;
    }
    .choiceList{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 500px;
        margin: 0 auto;
        gap: 16px;
        .choiceItem{
            cursor: pointer;
            text-align: center;
            font-size: 20px;
            &:hover{
                transform: scale(1.1);
                text-shadow: 1px 1px 0 #CC4A19, -1px -1px 0 #CC4A19,
                -1px 1px 0 #CC4A19, 1px -1px 0 #CC4A19,
                0px 1px 0 #CC4A19,  0-1px 0 #CC4A19,
                -1px 0 0 #CC4A19, 1px 0 0 #CC4A19;;
                color: #fff;
            }
        }
    }

}