@use '@/styles/variables.scss' as v;
.quizContent{
    max-width: 900px;
    background: #fff;;
    margin: 0 auto;
    border: solid 3px v.$main_yellow;
    position: relative;
    .quizNumberCircle{
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        left: calc(50% - 40px);
        z-index: 1;
        overflow: hidden;
        @include v.mq(w425){
            width: 69px;
            height:69px;
            left: calc(50% - 35px);
        }

        .quizSemiNumberCircle{
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            &:nth-child(1){
                background-color: v.$main_pink;
                z-index: 2;
                transform-origin: right center;
            }
            &:nth-child(2){
                background-color: v.$main_pink;
                z-index: 3;
                transform-origin: right center;
            }
            &:nth-child(3){
                width: 50%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color:#fff;
                z-index: 4;
                opacity: 1;
     
            }

        }
        .outerCircle{
            width: 76px;
            height: 76px;
            background-color: #fff;
            border-radius: 50%;
            z-index: 5;
            position: relative;
            top: 2px;
            left: 2px;
            line-height: 76px;
            text-align: center;
            font-size: 25px;
            @include v.mq(w425){
                width: 65px;
                height: 65px;
                line-height: 65px;
            }
        }   
    }
    .quizInner{
        max-width: 800px;
        margin: 45px auto auto;
        padding: 16px;
        padding-bottom: 40px;
        position: relative;
        @include v.mq(w425){
            margin: 25px auto auto;
        }
        .quizQuesion{
            font-size: 20px;
            font-weight: bold;
            @include v.mq(w425){
                font-size: 18px;
            }
        }
        .quizChoices{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;
            margin-top: 32px;
            .quizChoicesItem{
                width: 370px;
                background-color: #fff;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                text-align: center;
                padding: 10px 0;
                @include v.mq(w768){
                    width: 340px;
                }
                &:hover{
                    background-color: v.$main_beige;
                    cursor: pointer;
                }
            }
        }
        .quizCorrectMark{
            position: absolute;
            width: 200px;
            height: 200px;
            background: v.$main_pink;;
            border-radius: 50%;
            text-align: center;
            font-size: 40px;
            line-height: 200px;
            color: #fff;
            font-weight: 500;
            top: 0;
            left: 37%;
            display: none;
            @include v.mq(w425){
                left: 23%;
                top: 90px;
            }
        }
        .quizIncorrectMark{
            position: absolute;
            width: 200px;
            height: 200px;
            background: v.$main_blue;;
            border-radius: 50%;
            text-align: center;
            font-size: 40px;
            line-height: 200px;
            color: #fff;
            font-weight: 500;
            top: 0;
            left: 37%;
            display: none;
            @include v.mq(w425){
                left: 23%;
                top: 90px;
            }
        }
    }
}