$breakpoints: (
	'w1920': 'screen and (max-width: 1920)',
	'w1280': 'screen and (max-width: 1280px)',
	'w1024': 'screen and (max-width: 1024px)',
	'w768': 'screen and (max-width: 768px)',
	'w640': 'screen and (max-width: 640px)',
	'w425': 'screen and (max-width: 425px)',
	'w320': 'screen and (max-width: 320px)',
	) !default;

@mixin mq($bp) {
	@media #{map-get($breakpoints, $bp)} {
		@content;
	}

}


/* color */
$main_red:#D73823;
$main_blue:#429AD6;
$main_green:#68B04A;
$main_yellow:#F5CE45;
$main_brown:#794f27;
$main_cream_white:#fefdf5;
/* text-style */
$black-text-shadow:1px 1px 0 #000, -1px -1px 0 #000,
-1px 1px 0 #000, 1px -1px 0 #000,
0px 1px 0 #000,  0-1px 0 #000,
-1px 0 0 #000, 1px 0 0 #000;
$yellow-text-shadow:1px 1px 0 #F5CE45, -1px -1px 0 #F5CE45,
-1px 1px 0 #F5CE45, 1px -1px 0 #F5CE45,
0px 1px 0 #F5CE45,  0-1px 0 #F5CE45,
-1px 0 0 #F5CE45, 1px 0 0 #F5CE45;
$white-text-shadow:1px 1px 0 #ffffff, -1px -1px 0 #ffffff,
-1px 1px 0 #ffffff, 1px -1px 0 #ffffff,
0px 1px 0 #ffffff,  0-1px 0 #ffffff,
-1px 0 0 #ffffff, 1px 0 0 #ffffff;
$count-down-white-shadow:4px 1px 0 #ffffff, -4px 0px 0 #ffffff, 0px 3px 0 #ffffff, 0px -4px 0 #ffffff, 0px -1px 0 #ffffff, -1px 0 #ffffff, -1px 0 0 #ffffff, 1px 0 0 #ffffff;
$text-animation:blinking .8s ease-in-out infinite alternate;
$result-animation:blinking .5s ease-in-out infinite alternate;

