@use  '@/styles/variables.scss' as v;
.appName{
    font-size: 80px;
    text-shadow: var(--text-shadow);
    text-align: center;
    @include v.mq(w320){
        font-size: 70px;
    }

    .textBlue{
        color: v.$main_blue;
        text-shadow: v.$black-text-shadow;
    }
    .textRed{
        color: v.$main_red;
        text-shadow: v.$black-text-shadow;
    }
    .textYellow{
        color: v.$main_yellow;
        text-shadow: v.$black-text-shadow;
    }
    .textGreen{
        color: v.$main_green;
        text-shadow: v.$black-text-shadow;
        margin: 0 10px;
    }
}

.text{
    text-align: center;
    margin-top: 60px;
    @include v.mq(w320){
        margin-top: 35px;
    }
}
.modeList{
    max-width: 300px;
    margin: 16px auto auto;
    .modeItem{
        font-size: 25px;
        text-align: center;
        text-shadow: v.$red-text-shadow;
        letter-spacing: 2px;
        width: fit-content;
        margin: 0 auto;
        @include v.mq(w320){
            font-size: 20px;
            margin-bottom: 5px;
        }
        &:hover{
            animation: v.$text-animation;
        }
        .modeLink{
            display: block;
            text-decoration: none;
            color: #fff;
        }
    }
}

@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
