@use  '@/styles/variables.scss' as v;
.appMainInner{
    margin-top: 250px;
    .appName{
        font-size: 80px;
        text-shadow: var(--text-shadow);
        text-align: center;
        color: #fff;
        text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
        @include v.mq(w320){
            font-size: 70px;
        }
        .pinkText{
            color: v.$main_pink;
        }
        .blueText{
            color: v.$main_blue;
        }
        .yellowText{
            color: v.$main_yellow;
        }
    
    }
    .appText{
        text-align: center;
        margin:16px auto 42px auto;
        color: v.$main_brown;
        font-weight: bold;
    }
    .appStartButton{
        font-size: 20px;
        text-align: center;
        width: fit-content;
        margin: 0 auto;
        background-color: v.$main_cream_white;
        border-radius: 50px;
        width: 180px;
        padding: 4px 0;
        display: block;
        text-decoration: none;
        color: v.$main_brown;
        font-weight: bold;
        border: solid 3px v.$main_yellow;
        .appStartButtonText{
            &:hover{
                animation: v.$text-animation;
            }
        }

    }


}




@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
