@use  '@/styles/variables.scss' as v;
body{
    background-image: url('/bg.svg');
    background-color: v.$main_beige;
    height: 100%;
    font-family: Noto Sans JP,-apple-system,blinkmacsystemfont,Segoe UI,Hiragino Kaku Gothic ProN,BIZ UDPGothic,meiryo,sans-serif;
    @include v.mq(w425){
        background-image: unset;
    }
}

.mainInner{
    margin-top: 200px;
    padding: 0 16px;
    @include v.mq(w425){
        margin-top: 190px;
    }

}
.quit{
    text-align: right;
    color: #fff;
    text-shadow: v.$black-text-shadow;
    position: relative;
    top: 10px;
    display: block;
    right: 10px;
    text-decoration: unset;
    font-size: 18px;
    &:hover{
        text-shadow: v.$yellow-text-shadow;
    }
    @include v.mq(w425){
        text-shadow: v.$yellow-text-shadow;
    }
}
.lf{
    display: inline-block;
}



