@use  '@/styles/variables.scss' as v;
body{
    background-color: v.$main_yellow;
}

.mainInner{
    margin-top: 150px;
    padding: 0 16px;
}
.quit{
    text-align: right;
    color: #fff;
    text-shadow: v.$black-text-shadow;
    position: relative;
    top: 10px;
    display: block;
    right: 10px;
    text-decoration: unset;
    &:hover{
        text-shadow: v.$red-text-shadow;
    }
    @include v.mq(w425){
        text-shadow: v.$red-text-shadow;
    }
}



