@use '@/styles/variables.scss' as v;
.result{
    max-width: 1280px;
    margin: 150px auto; 
    .resultText{
        font-size: 50px;
        text-align: center;
        text-shadow: v.$white-text-shadow;
    }
    .resultScore{
        text-align: center;
        font-size: 70px;
        text-shadow: v.$white-text-shadow;
        animation: v.$result-animation;
    }
}
@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
